<p id="notice"><%= notice %></p>

<h1>Golfcats</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @golfcats.each do |golfcat| %>
      <tr>
        <td><%= golfcat.title %></td>
        <td><%= golfcat.description %></td>
        <td><%= golfcat.image %></td>
        <td><%= link_to 'Show', golfcat %></td>
        <td><%= link_to 'Edit', edit_golfcat_path(golfcat) %></td>
        <td><%= link_to 'Destroy', golfcat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Golfcat', new_golfcat_path %>
